<br/>
<div>
    <h3>Publish your Story</h3><br/>
    <input ibmText [(ngModel)]="title" placeholder="Blog Title"/>
    <br/>
    <ibm-label
			[invalid]="invalid"
			[invalidText]="invalidText">
    <textarea ibmTextArea [(ngModel)] ="content" [invalid]="invalid"
     placeholder="Blog Content"></textarea>
    </ibm-label>
</div>
<button ibmButton (click)="postBlog()">Post Blog</button>

<div class="loadWrapper" *ngIf="loading">  
    <div class="loader"></div>  
</div>

<br/><br/><br/><br/>

<h3>Checkout our latest Stories!</h3><br/>
<div *ngFor="let blog of blogs">
    <ibm-clickable-tile target="_blank" >
        <h4>{{blog.title}}</h4>
        <h5>- by {{blog.user}}</h5>
        <p>{{blog.content}}</p>
    </ibm-clickable-tile>
</div>