<ibm-header name="MiniBlog">
    <ibm-header-navigation ariaLabel="MiniBlog">
        <ibm-header-item [route]="['/']">Home</ibm-header-item>
        <ibm-header-item [route]="['/blogs']">Blogs</ibm-header-item>
    </ibm-header-navigation>
    <ibm-header-global>
        <ibm-header-action title="action">
            <svg icon ibmIconNotification20></svg>
        </ibm-header-action>
        <ibm-header-action title="action">
            <svg icon ibmIconUserAvatar20></svg>
        </ibm-header-action>
        <ibm-header-action title="action">
            <svg icon ibmIconAppSwitcher20></svg>
        </ibm-header-action>
    </ibm-header-global>
</ibm-header>